/* ##################################################### */
/* ####################### Reset ####################### */
/* ##################################################### */
:root {
  --l-font: #444;
  --a-primary: #4CAF50;
  --b-primary: #ddd;
  --c-primary: #ddd;
  --d-primary: #ddd;
  --a-secondary: #ddd;
  --b-white: #fff;
  --f-white: #fff;
  --f-gray: #888;
  --f-light-gray: #ddd;
  --menu-height: 52px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

body {
  color: var(--l-font);
  font-size: 15px;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* ##################################################### */
/* ##################### Animation ##################### */
/* ##################################################### */
/* ##################################################### */
/* ################## Main Menu Class ################## */
/* ##################################################### */
.menu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  color: var(--f-white);
  background-color: var(--a-primary);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.menu__container {
  display: flex;
  align-items: center;
}
.menu__container--user, .menu__container--notify, .menu__container--search {
  display: none;
}
.menu__container--user.open, .menu__container--notify.open, .menu__container--search.open {
  z-index: -1;
  position: absolute;
  top: calc(100% + 15px);
  width: 300px;
  display: flex;
  flex-direction: column;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
.menu__container--user::after, .menu__container--notify::after, .menu__container--search::after {
  content: "";
  position: absolute;
  transform: translateY(-100%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.54) transparent;
}
.menu__container--user::after {
  right: 119px;
}
.menu__container--notify {
  height: 60vh;
}
.menu__container--notify::after {
  right: 66px;
}
.menu__container--search {
  height: 60vh;
}
.menu__container--search::after {
  right: 10px;
}
.menu__header--notify, .menu__header--search {
  padding: 16px;
}
.menu__header--search {
  display: flex;
}
.menu__button {
  cursor: pointer;
  color: currentColor;
  background-color: transparent;
  border: 0;
  font-size: 1.2em;
  padding: 16px;
  line-height: 0;
}
.menu__button:hover, .menu__button--menu.open, .menu__button--user.open, .menu__button--notify.open, .menu__button--search.open {
  background-color: #449d48;
}
.menu__button--menu {
  display: none;
}
.menu__figure--user {
  display: grid;
  gap: 20px;
  justify-content: center;
  justify-items: center;
  padding-block: 20px;
  padding-inline: 20px;
}
.menu__figure--notify {
  display: flex;
  gap: 10px;
}
.menu__image--user, .menu__image--notify {
  border-radius: 50%;
}
.menu__image--user {
  max-width: 100px;
  max-height: 100px;
}
.menu__image--notify {
  max-width: 30px;
  max-height: 30px;
}
.menu__figcaption--user {
  text-align: center;
}
.menu__figcaption--notify, .menu__figcaption--search {
  display: grid;
  gap: 5px;
  border-left: 1px solid rgba(221, 221, 221, 0.3);
  padding-left: 10px;
}
.menu__figcaption--notify {
  padding-bottom: 10px;
}
.menu__ul-list {
  list-style: none;
}
.menu__ul-list--menu {
  display: flex;
}
.menu__ul-list--user {
  contain: content;
  border-radius: 0 0 7px 7px;
}
.menu__ul-list--notify {
  overflow: auto;
}
.menu__ul-link {
  padding: 16px;
  display: block;
}
.menu__ul-link:hover {
  background-color: #449d48;
}
.menu__ul-link--user:hover, .menu__ul-link--notify:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.menu__ul-link--notify, .menu__ul-link--search {
  border-bottom: 1px solid rgba(221, 221, 221, 0.1);
}
.menu__ul-link--notify {
  padding-bottom: 0;
}
.menu__footer--notify {
  padding-bottom: 5px;
}

/* ##################################################### */
/* ############### Main Banner Class ################### */
/* ##################################################### */
.a-banner .a-banner__slide {
  padding: 50px 20px;
  grid-template-columns: minmax(0, 800px);
  justify-content: center;
  align-content: center;
}
.a-banner__container {
  display: grid;
  gap: 20px;
  border-radius: 7px;
  padding: 20px;
  border: 1px solid var(--a-secondary);
}
.a-banner__header {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--a-secondary);
}
.a-banner__body {
  display: grid;
  gap: 10px;
}
.a-banner__ul-list {
  list-style: inside;
}
.a-banner__subtitle {
  padding-inline: 80px;
}
.a-banner .zibSlide_prev, .a-banner .zibSlide_next {
  display: none;
}

.slide .zibSlide_container {
  background-color: #000;
}
.slide .zibSlide_dotContainer {
  line-height: normal;
  padding-block: unset;
}
.slide .zibSlide_prev, .slide .zibSlide_next {
  height: 100%;
  border-radius: unset;
  background-color: transparent;
  font-size: 2em;
  opacity: 0.3;
}
.slide .zibSlide_prev:hover, .slide .zibSlide_next:hover {
  background-color: unset;
  opacity: 0.9;
}
.slide .zibSlide_prev {
  padding-inline: 0.5em 4em;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.slide .zibSlide_next {
  padding-inline: 4em 0.5em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.slide .zib_icon {
  color: var(--a-secondary);
}
.slide .zibSlide_dot {
  background-color: var(--a-secondary);
  border: 2px solid var(--a-secondary);
}
.slide .zibSlide_dot_active, .slide .zibSlide_dot:hover {
  background-color: transparent !important;
}

/* ##################################################### */
/* #################### Misc Class ##################### */
/* ##################################################### */
.body__login {
  display: grid;
  justify-content: center;
  align-content: space-between;
  height: 100vh;
}
.body__account {
  margin-top: var(--menu-height);
}

.main__login {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-block: 100px;
}
.main__home {
  display: grid;
  gap: 50px;
  padding-block: 50px;
  padding-inline: 20px;
}

.a-line {
  width: 100%;
  margin-inline: auto;
  border: 0;
  border-top: 1px solid var(--a-secondary);
  opacity: 0.8;
}
.a-line--w85 {
  width: calc(100% - 32px);
  opacity: 0.4;
}

.a-scroll ::-webkit-scrollbar {
  width: 10px;
}
.a-scroll ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
}
.a-scroll ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}
.a-scroll ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ##################################################### */
/* ################### Cards Class ##################### */
/* ##################################################### */
.a-cards {
  display: grid;
  gap: 30px;
}
.a-cards__header--item {
  display: grid;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--a-secondary);
}
.a-cards__header--a-custom {
  gap: 20px;
  justify-items: center;
}
.a-cards__image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
}
.a-cards__body {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.a-cards__body--item {
  display: grid;
  gap: 10px;
}
.a-cards__item {
  max-width: 350px;
  padding: 20px;
  display: grid;
  gap: 30px;
  border-radius: 7px;
  border: 1px solid var(--a-secondary);
}
.a-cards__footer--item {
  display: flex;
  align-items: baseline;
  gap: 5px;
  justify-content: space-between;
}

/* ##################################################### */
/* #################### Text Class ##################### */
/* ##################################################### */
.svg-inline--fa {
  width: 1em;
}

.title__medium, .title__large {
  font-weight: 500;
}
.title__large {
  font-size: 2em;
}
.title__medium {
  font-size: 1.5em;
}
.title__small {
  font-size: 1.2em;
}
.title--primary {
  color: var(--a-primary);
}
.title--center {
  text-align: center;
}

.text__large {
  font-size: 1.1em;
}
.text__small {
  font-size: 0.9em;
}
.text__xsmall {
  font-size: 0.7em;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.text--primary {
  color: var(--a-primary);
}
.text--secondary {
  color: var(--f-gray);
}
.text--light-gray {
  color: var(--f-light-gray);
}
.text--max-line-1, .text--max-line-2, .text--max-line-3, .text--max-line-4, .text--max-line-5 {
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text--max-line-1 {
  -webkit-line-clamp: 1;
}
.text--max-line-2 {
  -webkit-line-clamp: 2;
}
.text--max-line-3 {
  -webkit-line-clamp: 3;
}
.text--max-line-4 {
  -webkit-line-clamp: 4;
}
.text--max-line-5 {
  -webkit-line-clamp: 5;
}

/* ##################################################### */
/* ################### Buttons Class ################### */
/* ##################################################### */
.button__primary {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-block: 8px;
  padding-inline: 20px;
  border-radius: 5px;
  color: var(--a-primary);
  font-size: 1.1em;
  border: 1px solid var(--a-primary);
  background-color: transparent;
}
.button__primary:hover {
  color: var(--f-white);
  background-color: var(--a-primary);
}
.button__primary--notify {
  border-radius: 0 7px 7px 0;
  border-left: 0;
  color: var(--f-white);
  border-color: var(--a-secondary);
  padding-inline: 12px;
}
.button__primary--notify:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.button--mln-auto {
  margin-inline: auto;
}

/* ##################################################### */
/* ##################### Form Class #################### */
/* ##################################################### */
.a-form {
  display: grid;
  gap: 15px;
  width: 500px;
  max-width: 95vw;
  padding: 20px 15px;
  border-radius: 7px;
  border: 1px solid var(--a-secondary);
  background-color: var(--b-white);
}
.a-form__form {
  display: grid;
  gap: 20px;
}
.a-form__form--notify {
  display: flex;
}
.a-form__container {
  display: grid;
  gap: 5px;
}
.a-form__container--checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
}
.a-form__container--submit {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.a-form__input {
  width: 100%;
  outline: 0;
  padding: 5px;
  border-radius: 3px;
  font-size: 1em;
  background-color: var(--b-white);
  border: 1px solid var(--a-secondary);
}
.a-form__input--notify {
  color: var(--f-white);
  background-color: transparent;
  border-radius: 7px 0 0 7px;
}
.a-form__input--notify::-moz-placeholder {
  color: lightgray;
}
.a-form__input--notify::placeholder {
  color: lightgray;
}
.a-form__checkbox {
  font-size: 15px;
  height: 20px;
  width: 20px;
}
.a-form__submit {
  margin-left: auto;
}

/* ##################################################### */
/* ################### footer Class #################### */
/* ##################################################### */
.footer {
  display: grid;
  gap: 15px;
  padding: 10px;
}
.footer__text {
  text-align: center;
}